@import './px-to-rem.scss';

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: px-to-rem(20) 0;
    border-radius: px-to-rem(10) 0;
    text-decoration: none;

    &__primary {
        color: var(--white);
        background-color: var(--primary-color);
    }

    &__secondary {
        color: var(--white);
        background: var(--secondary-color);
    }
}